# ---------------------
# Editor or IDE related
# ---------------------
#
# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml
.settings

# Vim
*.pyc
*.swp
*.swo
/nvim/plugin/
/nvim/Session.vim

# Emacs
.\#*
\#*\#
.dir-locals.el

# Python
.venv/

# macOS
#
.DS_Store
