# Use the following cmd to link this service
#   ln -sf `pwd`/clash.service ~/.config/systemd/user/clash.service

[Unit]
Description=Clash daemon, A rule-based proxy in Go.
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/clash -d /home/cosven/.config/clash/

[Install]
WantedBy=default.target
