[Unit]
Description=Clash daemon, A rule-based proxy in Go.
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/clash -d ~/.config/clash/config.yaml

[Install]
WantedBy=default.target
