# Add folloing contents to .bashrc.
# # https://wiki.archlinux.org/title/SSH_keys_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)#%E7%94%A8_systemd_user_%E5%90%AF%E5%8A%A8_ssh-agent
# # Work with ~/.config/systemd/user/ssh-agent.service
# export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
# DISPLAY required for ssh-askpass to work
Environment=DISPLAY=:0
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
